.row>*{
    padding-left: 0%!important;
    padding-right: 0%!important;
}
.row{
    justify-content: center;
}
.title{
    background-color: #0081a7!important;
}
.info{
    background-color: #00afb9!important;
}